<div class="row">
  <div class="span6 offset3">
    <%= form_for(:user, :url => reset_password_path) do |f| %>
      <%= f.label :email_or_username %>
      <%= f.text_field :email %>
      <%= f.submit "Send reset password email", 
          class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
