<div class="center hero-unit">
  <h1>Welcome to the Socialize</h1>

  <h2>
    This is the site where you find all
    <a href=<%=home_url%> >Your favorite events</a>
    in one place.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>