#event_date_1i{
  float:left;
  width: 70px;
  margin-right: 5px;

}
#event_date_2i{
  width: 110px;
}
#event_date_3i,#event_date_4i,#event_date_5i{
  width: 79px;
}

.indent-1 {
  float: left;
}
.indent-2 {
  width: 200%;
  padding-left: 5cm;
}
